@font-face {
    font-family: 'RL Madena Variable';
    src: url('RL-Madena.woff2') format('woff2'),
        url('RL-Madena.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RL Madena';
    src: url('RL-Madena.woff2') format('woff2'),
        url('RL-Madena.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RL Madena Oblique';
    src: url('RL-Madena-Oblique.woff2') format('woff2'),
        url('RL-Madena-Oblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

